.additional-wrapper {
  display: flex;
  justify-content: space-between;
  .language-block {
    display: flex;
    flex-direction: column;
    .lang-info {
      display: flex;
      justify-content: space-between;
    }
  }
}
