.work-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  p {
    margin-bottom: 8px;
  }
  .cv-block-header {
    margin-bottom: 10px;
    &::after {
      content: " ";
      width: 100%;
      height: 10px;
      background-color: var(--dark-background);
    }
  }
  .job {
    font-weight: 600;
  }
  .work-period {
    font-size: 0.9rem;
  }
  .activities {
    font-size: 0.8rem;
  }
}
